*{margin:0; padding: 0; text-align: center;}
body{background: #f4f4f4; font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#000;}
a{color: #06F; text-decoration: none;}
a:hover{text-decoration: underline;};
#container{width:960px; margin: 0 auto;}
#header{margin: 0; height: 160px; background: #FFF}
#logo{
		background-image:url(logo.png);
		width:300px;
		height:200px; 
		background-size:100% 100%;
		-webkit-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		-khtml-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
	}
#menu{height: 40px; background: #333;}
#menu ul{list-style: none;}
#menu ul li{display: block; float: left;}
#menu ul li a{
			 text-decoration: none;
			 color: #FFF; 
			 font-size: 16px; 
			 font-weight: bold; 
			 text-transform: uppercase;
			 padding: 10px; 
			 height: 20px; 
			 float: left;
			}
#menu ul li a:hover{background: #666;};
#corpo{background: #FFF;}
#conteudo{width: 600px; float: left; margin: 5px}
#sidebar{width: 260px; float: right; margin: 5px}
#rodape{text-align: center; height: 40px; background: #333; font-size: 16px; color: #FFF; text-align: center; padding: 20px 0 0 0;}
.clear{clear: both;}